@page "/{date:datetime?}"
@rendermode RenderMode.InteractiveServer
@inject IShowtimeService ShowtimeService
@inject AuthenticationStateProvider AuthStateProvider
@inject IUserService UserService

<PageTitle>CinemaBooking</PageTitle>

<div class="min-h-screen flex flex-col justify-center items-center">
    <div class="w-3/4  text-right text-white">
        @if (isLoggedIn)
        {
            <span>@username | <button class="hover:font-bold" @onclick="LogoutAsync">LOGOUT</button></span>
        }
        else
        {
            <a href="/login" class="hover:font-bold">LOGIN</a>
        }
  </div>

  <div class="bg-white min-h-4/5 w-3/4 rounded shadow-md flex flex-col gap-7 items-center">
    <h1 class="text-3xl py-3">Showtimes</h1>
    
    @if(showtimes == null || dates == null)
    {  
        <div class="flex-1 flex justify-center items-center">
            <span class="text-2xl text-zinc-900">@centerText</span>
        </div>
    }
    else
    {
        <Dates Dates=@dates />
        
        <Showtimes Showtimes=@(showtimes.Where(s => s.Start.Date == date).ToList()) />
    }

  </div>
</div>

@code {
    [Parameter]
    public DateTime? date { get; set; }
    private List<DateTime>? dates;
    private List<ShowtimeDTO>? showtimes;
    private string centerText = "Loading...";
    private string? username;
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            showtimes = await ShowtimeService.GetShowtimesAsync();

            if(showtimes.Count == 0)
            {
                centerText = "There are no showtimes.";
            } else
            {
                dates = showtimes
                    .GroupBy(s => s.Start.Date)
                    .Select(group => group.Key)
                    .ToList();

                date ??= dates[0];
            }
        }
        catch(Exception ex)
        {
            centerText = ex.Message;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            username = authState.User.Identity?.Name;
            isLoggedIn = authState.User.Identity?.IsAuthenticated ?? false;

            StateHasChanged();
        }
    }

    private async Task LogoutAsync()
    {
        await UserService.LogoutAsync();
        username = null;
        isLoggedIn = false;
        StateHasChanged();
    }
}
